.ityped-cursor {
    font-size: 4rem;
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    animation-direction: alternate;
}

@media (max-width: 768px) {
    .ityped-cursor {
        font-size: 2.3rem;
    }
  }

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}