
.blog-element-excerpt p { padding-right: 40px; letter-spacing: .6px; color:  #2f395f; }
.heading { color: #fff; text-align: center; 
    a{
         color: #fff; &:hover{ color: #C1C1C1; }
    }
}

.user-heading {
    color: #fff;
    font-weight: 600;
    letter-spacing: .05em;
    margin-top: 12px;
}

.element-section-banner {
    height: 600px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .overlay{
    	background: linear-gradient(0deg, #000000bd, #ffffff00);
	    height: 100%;
	    position: absolute;
	    width: 100%;
    }
}
.banner-content {
    padding-top: 130px;
    padding-bottom: 50px;
}
.user-content {
    margin-top: 120px;
    text-align: center;
}

.user-img {
    border-radius: 100px;
}

.blog-element-section-top {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}


.element-column-left-gap {
    padding-left: 0px;
}

.row-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-img {
    border-radius: 10px;
        margin-bottom: 25px;
}

.subscribe-sidebar{
     text-align: center;
}

.element-category-post {
    background-color: #387dff;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block;
}

.learn-more-about-dyl-link {
    color: rgba(18,35,102,0.71);
}

.blog-post-date {
    margin-right: 10px;
    display: inline-block;
    color: rgba(18,35,102,0.71);
    letter-spacing: .6px;
}

.blog-post-sep {
    margin-right: 10px;
    display: inline-block;
    color: rgba(18,35,102,0.71);
    letter-spacing: .6px;
}

.blog-post-min {
    margin-right: 10px;
    display: inline-block;
    color: rgba(18,35,102,0.71);
    letter-spacing: .6px;
}

.blog-element-category-title {
    font-weight: 700;
    color: #122366;
    letter-spacing: .4px;
    margin-bottom: 15px;
    line-height: 35px;
    a {
        color: #122366;
        line-height: 35px !important;
    }
}

.element-excerpt {
    padding-right: 40px;

    p{
        color: $color-blog-grey !important;
    }
}

.meta-row {
    padding-left: 20px;
}

.form-heading {
    font-weight: 600;
    color: #387dff;
    letter-spacing: .6px;
}

.fname-class, .email-class {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 80px;
    border-radius: 6px;
    border-width: 1px;
    border-color: hsla(0, 0%, 43.9%, .15);
    margin-bottom: -10px;
    display: inline-block;
}


.subscribe-class {
    color: #fff;
    text-align: center;
    background-color: #387dff;
    padding: 10px 36px;
    border-radius: 6px;
    border-width: 1px;
    border-color: hsla(0, 0%, 43.9%, .15);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    width: 100%;
}

.element-section-mid {
    // background-image: url(../images/pexels-andrea.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    align-items: center;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.box-column {
    height: auto;
    background-color: #387dff;
    border-radius: 8px;
    padding: 50px 30px;
}

.box-heading {
    color: #fff;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 32px;
    margin-bottom: 30px;
    word-break: break-word;
}

.box-button {
    padding: 10px 60px;
    border-width: 0px;
    color: #387dff;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 30px;
}

.element-section-bottom {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8fbff;
}



#tags {
    padding: 8px 10px;
    border: 0;
    border-radius: 6px;
    color: #707070;
    background: #ecf2ff;
        width: 100%;
}

.bottom-row {
    margin-top: 80px;
}

.element-post-category {
    background-color: #387dff;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block;
    a {
        color: #fff;
    }
}

.img-post-bottom {
    border-radius: 8px;
}

.heading-post-bottom {
    font-weight: 800;
    color: #000;
    letter-spacing: .4px;
    padding-top: 15px;
    padding-bottom: 0px;
        line-height: 24px;

    a{
    	line-height: 24px;
    	color: #122366;
    }
}


.bottom-post-col {
    padding-right: 20px;
    margin-bottom: 3em;

   
}


.blog-pagination-bottom a {
    color: #303F9F;
    border-width: 0;
    background-color: #f8fbff;
}

.blog-pagination-bottom a:hover {
    background-color: #387dff;
    color: #fff;
}

.bottom-form {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-heading {
    color: #122366;
}

.social-footer-links{
	a{
		color: $color-blog-persian-indigo;
        font-size: $lh-md-h5;

        i{
            padding-right: 10px;
            padding-left: 10px;
        }
	}
}

.bot-sub {
    color: #122366;
    font-weight: 600;
    letter-spacing: .6px;
}

.icon-heading {
    font-weight: 600;
    color: #387dff;
}

.bot-fname-class, .bot-email-class {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 80px;
    border-radius: 6px;
    border-width: 1px;
    border-color: hsla(0, 0%, 43.9%, .15);
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.bot-subscribe-class {
    color: #fff;
    text-align: center;
    background-color: #387dff;
    padding: 10px 51px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #707070;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    font-weight: 600;
    width: 100%;
}

.social-container a {
    color: $color-blog-persian-indigo;
}

.filter-heading{
	color: #122366;
}
.filter-tab{
	margin-top: 7px;
}

.element-section-banner{
	background-size: cover;
}

.article-author-position {
    color: #707070;
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.6em;
}

.col-left {
    padding-right: 0px;
}

.article-element-section-top {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f7faff;
}



.element-category-post {
    background-color: #387dff;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block;
    line-height: 26px;
}

.post-date {
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
    color: rgba(18,35,102,0.71) !important;
}

.post-sep {
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
    color: rgba(18,35,102,0.71) !important;
}

.post-min {
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
    color: rgba(18,35,102,0.71) !important;
}

.element-category-title {
   
    color: #122366 !important;
    letter-spacing: .4px;
    margin-bottom: 15px;
    line-height: 55px;
}

.element-category-sub-heading {
    font-weight: 600;
    color: #000;
    letter-spacing: .4px;
    margin-bottom: 15px;
}

.article-contents {
    h3, h4 {
        font-weight: 600;
        color: #000;
        letter-spacing: .4px;
        margin-bottom: 15px;
    }

    p, h3, strong, h4, ul, li {
        color: #122366 !important;
    }
}

.form-heading {
    font-weight: 600;
    color: #387dff;
    letter-spacing: 0.6px;
}

.download-text {
    color: #fff;
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.fname-class, .email-class {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 80px;
    border-radius: 6px;
    border-width: 1px;
    border-color: hsla(0, 0%, 43.9%, .15);
    margin-bottom: -10px;
    display: inline-block;
}

.row-pf {
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.col-pf {
    background-color: #387dff;
    border-radius: 8px;
    position: relative;
    top: 80px;
    padding: 40px 25px 40px 25px;
    margin-bottom: 0px;
    right: 24px;
}


.btn-pf {
    color: #387dff;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 1.6em;
    border-width: 0;
    border-radius: 6px;
    padding: 12px 80px 12px 80px;
    margin-top: 25px;
}


#blog-article-page{
    .subscribe-sidebar{
        margin-top: 35px;
    }
}
.row-auth {
    margin-top: 60px;
}

.auth-img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.auth-title {
    color: #000;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.6em;
}

.col-auth {
    padding-top: 6px;
}

.element-related-mid {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #f7faff;
}

.img-rlt-post {
    border-radius: 8px;
}

.row-related-mid {
    margin-bottom: 50px;
}

.rlt-date {
    color: #707070;
    font-weight: 400;
    letter-spacing: .8px;
    line-height: 1.6em;
    color: #122366 !important;
}

.heading-rlt-post {
    font-weight: 800;
    color: #000;
    line-height: 1.4em;
    letter-spacing: .4px;
    color: #122366 !important;
}

.rlt-subs {
    color: #707070;
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 1.6em;
    color: #122366 !important;
}

.col-rlt {
   
    padding-right: 0px;
    padding-bottom: 30px;
}

.post-range {
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
    color: #122366 !important;
}

.post-sep {
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
    color: #122366 !important;
}

.post-category {
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
    color: #122366 !important;
}

.pagination-bottom {
    margin-top: 20px;
}

.pagination-bottom a {
    color: #303F9F;
    background-color: #f8fbff;
    border-width: 0px;
}

.pagination-bottom a:hover {
    background-color: #387dff;
    color: #fff;
}

.bottom-form {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-heading {
    color: #122366 !important;
}

.bot-sub {
    color: rgba(18,35,102,0.71) !important;
    font-weight: 600;
    letter-spacing: 0.6px;
}


.bot-subscribe-class {
    color: #fff;
    text-align: center;
    background-color: #387dff;
    padding: 10px 51px;
    border-radius: 6px;
    border-width: 1px;
    border-color: hsla(0, 0%, 43.9%, .15);
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    font-weight: 600;
}

.icon-heading {
    font-weight: 600;
    color: #387dff;
}

.element-post-category {
    background-color: #387dff;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block;

    a {
        color: #fff;
    }
}

.img-post-bottom {
    border-radius: 8px;
}

.heading-post-bottom {
    font-weight: 800;
    color: rgb(0, 0, 0);
    letter-spacing: 0.4px;
    padding-top: 15px;
    padding-bottom: 0px;
    line-height: 24px;
}

.heading-post-bottom a {
    line-height: 21.6px;
    color: #122366;
}

.element-related-mid {
    .post-date {
        font-weight: 300;
        margin-right: 10px;
        display: inline-block;
        color: rgba(18,35,102,0.71) !important;
    }

    .post-min {
        font-weight: 400;
        color: rgba(18,35,102,0.71) !important;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 0;
    }

    .post-sep {
        font-weight: 300;
        color: rgba(18,35,102,0.71) !important;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 0;
    }

}

.blog-meta {
    padding-top: 10px;

    .post-date{
        margin: 0 !important;
    }
}

.row-related-mid {
    color: #122366 !important;
}

.learn-more-about-dyl-link {
    color: rgba(18,35,102,0.71);
}

.learn-more-about-container p {
    color: $color-grey-black;
}

.related-post-heading {
    color: #122366;
    font-weight: 600;
}

.wp-block-image figcaption {
    border-left: 3px solid #dddddd;
    padding-left: 20px;
    margin-left: 25px;
    margin-top: 20px;
    color: $color-blog-grey;
    font-style: italic;
}

.post-img-auth-column-left {
    display: inline-block;
    margin-right: 30px;
}

.post-img-auth-column-right {
    display: inline-block;
    position: relative;
    top: 16px;
}

.social-container a {
    color: rgb(45, 21, 130)
}

.sidebar-fixed {
    position: fixed;
}

.sticky-top {
    position: sticky;
    top: 90px;
    z-index: 0;
}

.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100% !important;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 10px;
}

.simple-pagination li a,
.simple-pagination li span {
    color: $color-blog-ironside-grey;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius:  0.3125rem;
}

.simple-pagination li a.page-link:hover{
    background-color: $color-blue-ribbon;
    border-color: $color-blue-ribbon;
    color: #fff;
}

.simple-pagination .current {
    color: #fff;
    background-color: $color-blue-ribbon;
    border-color: $color-blue-ribbon;
}



.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: $color-blue-ribbon;
    left: 10px;
    margin-top: -25px;
}

.prev {
    left: 10px;
    margin-top: -25px;
}

.next{
  
    right: 15px;
    margin-top: -23px !important;
}

.pagination-col{
    margin-left: 20px;
    text-align: center !important;
}


// Blog Author Page //

.element-hero-banner-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.link-color {
    font-size: 14px;
    font-weight: 700;
    color: #4975aa;
    padding-top: 15px;
    padding-bottom: 10px;
}

.author-description {
    color: #4f525e;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 30px;
}

.round-image-border {
    border-radius: 100%;
    width: 100%;
    background-color: #e5e5e5;
    margin: auto;
}
.img-author {
    text-align: center;
    width: 85%;
}

.img-border-line {
    border-radius: 100%;
    width: 220px;
    border: 2px solid #2979ff;
    margin: auto;
    padding: 7px;
    height: 220px;
}

.author-title-top-spacing {
    padding-top: 10px;
}

.social-link-spacer {
    margin-right: 10px;
}

@media screen and (max-width: 425px) {
  .author-title-top-spacing {
    text-align: center;
  }
}

// Before Footer //

.gloss-bf-footer-bg-color {
    background-color: #fff;
}

.bf-static-img-team {
    box-shadow: none;
}

.bf-static-b2 {
    font-size: 42px;
}

.bf-static-img-sub-text {
    color: $color-davy-grey;
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 30px;
}

.bf-static-img-member-name {
    color: $color-bright-blue;
    font-size: 25px;
    font-weight: 700;

}

.bf-static-img-member-text {
    color: $color-davy-grey;
    font-weight: 600;
}

.bf-static-form-half-column {
    display: flex;
    margin-bottom: 1rem;
}

.bf-static-form-whole-column {
    margin-bottom: 1rem;
}

.bf-static-submit-sub-text {
    color: $color-nobel;
    font-size: 13px;
    font-weight: 400;
}

.bf-static-u-content-before-footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.gloss-col-respon-gap {
    margin-bottom: 30px;
}

.bf-static-form-before-footer form {

    #phone, #company, #industry, #employees {
        width: 50%;
        display: inline-block;
    }
}

.bf-static-form-before-footer form {

    #phone, #industry {
        margin-right: 25px;
    }
}

.bf-static-form-before-footer form {

    #fullname, #email {
        width: 100%;
    }
}

.author-blog-img{
    height: 202px;
    object-fit: cover;
}

.blog-image-200h {
    height:200px;
    margin-bottom: 20px;
   
}

.blog-image-200h img{
    object-fit: contain !important;
   
}


    #popup2 {
        display:none;
           background-color:rgba(00,00,00,0.5);
            position:fixed;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index:1000;
        z-index: 99999;
        padding-top: 100px;
        
        }
        
        .left-pop-form {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            
        }

    .blog-popup .col-md-6 {
        padding: 0;
    
    }

    .align-items-stretch img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .ebook-popup-blog {
        border-radius: 10px;
    }

    .blog-popup span {
        position: absolute;
    }

    .padded-30 {padding: 30px !important}
    #popup2 .blog-popup button {
        background: #122366 !important;

    }

    .blog-popup input {
        background: $blog-input-pop-bg !important;

    }

    .mar-t30 {
        margin-top: 30px !important;
    }

    .subscribe-class-pop {
        color: #fff;
        text-align: center;
        background-color: #387dff;
        padding: 10px 36px;
        border-radius: 6px;
        border-width: 1px;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;

  
    }
    .pop-up-image {height: 100%}

    .close-popup-button {
        position: absolute;
        z-index: 9999999;
        right: 10px;
        top:10px;
       background: none !important;
       border: 0 !important;
       cursor: pointer;
    }

    .content-list-header h6 {
        margin: 0;
    }

    .blog-bottom-right-div {
        width: 100%;
        max-width: 400px;
        position: fixed;
        bottom: 0;
        right: 20px;
        background-color: $blog-popup-bg;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 1000 !important; /* Ensure it stays on top */
        height: auto; /* Initially open */
    }

    .blog-bottom-right-div.closed {
     //   bottom: -270px; /* Assuming the total height is 320px, so 320px - 10px = 310px */
        height: 50px; /* Height when hidden */
    }
    
    .blog-bottom-right-div h6 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto; /* Ensure h6 adjusts to the full height when open */
        margin: 0;
        padding: 0 10px; /* Optional padding for better alignment */
        transition: all 0.5s ease-in-out; /* Animate position change */
    }
    
    .blog-bottom-right-div.closed h6 {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50px; /* Ensure h6 takes the full height when closed */
    }
    
    .blog-bottom-right-div h6 i {
        margin-left: 10px;
    }


    .blog-bottom-right-div p, .blog-bottom-right-div .subscribe-class-pop {
        margin: 10px 0;
    }
    .blog-bottom-right-div .toggle-handle {
        height: 10px;
        width: 100%;
        background: #fff;
        cursor: pointer;
        text-align: center;
        line-height: 10px;
        position: absolute;
        top: -10px;
        left: 0;
        border-top: 1px solid #ddd;
        z-index: 1001 !important; /* Ensure it stays on top */
        opacity: 0; /* Initially visible */
    }

    .blog-bottom-right-div.closed .toggle-handle {
        opacity: 1; /* Hide when the panel is closed */
    }
    
    .blog-bottom-right-div .toggle-handle i {
        position: relative; /* Ensure the icon position is relative to its container */
        top: 6px; /* Adjust vertical position as needed */
    }

    .blog-bottom-right-div img {
      width: 150px !important;
      margin-left: auto;
      margin-right: auto;
      margin-top:15px;
    }

    .blog-bottom-right-div.closed img {
        margin-top: 50px; /* Adjust the margin to move the image down when closed */
    }

    .content-panel-list
 {
    background: #f7f7f7 !important;
    padding-bottom: 25px;
    margin-bottom: 60px !important;
    overflow: hidden;
}

    .content-list-header {
    background: #173078;
    color: #fff !important;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: flex
;
    justify-content: space-between;
    align-items: center;
}


    .content-panel-list h2, h3 {
        scroll-margin-top: 20px; /* Adjust as needed for fixed headers */
    }
    .content-panel-list ul ul {
        padding-left: 30px; /* Indent nested lists */
        display: block; /* Hide nested lists by default */
    }


    .accordion-icon {
        font-size: 1.2em;
        color: #fff;
        transition: transform 0.3s ease;
    }

    #h2-list{
        margin-top: 30px;
        list-style-type: none;
      
        overflow: hidden;
        max-height: none; /* Ensure it's visible by default */
    transition: max-height 0.3s ease-out;
    }

    #h2-list a, #h2-list i{
        color: #7e9ebd;
    }

    .content-panel-list ul {
        
        list-style-type: none; /* Hide bullets on all unordered lists */
    }
    .content-panel-list .toggle-icon {
        cursor: pointer;
        margin-right: 5px;
    }

    .padding-30 {
        padding: 30px;
    }

    .subscribe-button-ebook {
        background:$content-header-blue  !important;
        padding: 10px;
        text-align: center;
        color: #fff;
    }



    .ebook-panel-dl ul {
        list-style-type: none; /* Hide bullets on all unordered lists */
        padding-inline-start: 0;
    }

    .ebook-panel-dl li {
        color: #7e9ebd;
        font-weight:600;
    }
    #h2-list a {
        text-decoration: none;
       
        position: relative;
    }
    #h2-list a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #7e9ebd;
        bottom: 0;
        left: 0;
        transition: transform 0.1s ease-out;
        transform: scaleX(1);
        transform-origin: bottom right;
    }
    #h2-list a:hover::before {
        transform: scaleX(0);
        transform-origin: bottom left;
    }

    #h2-list.expanded {
        max-height: 800px; /* Adjust as needed for your content */
    }

    .blog-image-intrinsic {
        width: 330px;
    }

        .h6-sub-footer {
            font-weight: 700
        }
    
    
    
        .h5-author-sub {
            font-size: 19px;
        }
    
        .h4-sidenav-sub {
            font-size: 23px;
        }
    
    
        .h3-browse-blog-sub {
            font-size: 28px;
            font-weight: 700;
        }

        .h3-browse-blog-sub2 {
            font-size: 28px;
            font-weight: 600;
        }
        .ebook-subheading-blog {
            font-weight: 600;
    letter-spacing: .4px;
    margin-bottom: 15px;
    line-height: 36px;
        }

    .post-featured-img {
        width: 100%;             
        height: auto;            
        object-fit: cover;  
    }

    .table-blue {
        background: linear-gradient(90deg, #071d5f, #0a3d9c); 
        border-radius: 20px;
    }

  .mar-b30 {
    margin-bottom: 30px !important;
  }

  .button-dl-darkblue {
    color: #0c2c77;
  }

  .bg-blue-ceo{
    background: url('https://images.dyl.com/marketing-web/images/features/bg-ceo-blue.webp') left center no-repeat;
    background-size: cover; /* This ensures the image stretches across the full width and height */
    background-position: center center; /* Centers the image */
    min-height: 800px;
    padding: 30px;
}

.bg-blue-ceo .row.align-items-stretch {
    display: flex; /* Make the row a flex container */
    flex-wrap: wrap; /* Allow for wrapping on smaller screens */
    justify-content: stretch; /* Ensure both columns stretch to the same height */
    border-radius: 10px !important;
}

.bg-blue-ceo .div-object-fit {
    display: flex;
    align-items: center; /* Center the image vertically within the container */
    justify-content: center; /* Center the image horizontally */
    height: 100%; 
}

.div-object-fit img {
    width: 100%;  
    height: 100%; 
    object-fit: cover;  
}

.bg-blue-ceo .d-flex {
    display: flex; /* Flexbox for the right column to stretch its content */
    flex-direction: column; /* Ensures content is stacked vertically */
}

.bg-blue-ceo .d-flex > .product-panel-for-small {
    flex-grow: 1; /* Ensures the product panel takes up the available space */
}

@media (max-width: 768px) {
    .bg-blue-ceo .row.align-items-stretch {
        display: block; /* Stacks the columns on smaller screens */
    }

    .close-popup-button {
        position: absolute;
        z-index: 9999999;
        left: 10px;
        top:10px;
       background: none !important;
       border: 0 !important;
       cursor: pointer;
    }

    .div-object-fit img {
        height: auto; /* Adjusts image height for smaller screens */
    }

    .pop-up-image {object-fit: cover;}
}
.mar-t40 {
    margin-top: 40px;
}

.mar-b40 {
    margin-bottom: 40px;
}
.mar-b30 {
    margin-bottom: 30px;
}
.marg-20{
    margin-top:12px !important;
    font-weight: 500;
}
.mar-t10{
    margin-top:10px !important;
}
.mar-b60 {
    margin-bottom: 60px;
}

.mar-t60 {
    margin-top: 60px;
}
.pad-t60 {
    padding-top: 60px !important;
}
.pad-b60 {
    padding-bottom: 60px  !important;
}.pad-b200 {padding-bottom: 200px;}


.pad-t80 {
    padding-top: 80px !important;
}


.pad-b80 {
    padding-bottom: 80px;
}




.section-panel-bg-offwhite{background: $product-bg-offwhite;}

@media (min-width: 992px) {
    .bot-email-class, .bot-fname-class, .bot-subscribe-class {
        padding: 10px 16px;
        border-radius: 6px;
        border-width: 1px;
        border-color: hsla(0, 0%, 43.9%, .15);
        margin-right: 10px;
        display: inline-block;
        width: 30%;
    }
}

@media (min-width: 992px) {
    .bot-email-class, .bot-fname-class {
        margin-bottom: -10px;
    }
}
@media (min-width: 768px) {
    .bot-email-class, .bot-fname-class, .bot-subscribe-class {
        margin: auto auto 15px;
    }
}
.social-footer-links a {
    color: #2d1582;
    font-size: 36px;
}

@media (min-width: 768px) {
    .d3 {
        font-size: 50px;
        line-height: 64px;
    }
}

.blog-bottom-right-div {width: 100%;max-width: 400px;position: fixed;bottom: 0;right: 20px;background-color: #e7e9f1;overflow: hidden;transition: height .5s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1000 !important;
    height: auto;
}
.element-hero-banner-section {padding-top: 80px;padding-bottom: 80px;}